@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);

body {
  font-family: 'Open Sans';
}

.light { opacity: 0.3; }
.halved { width: 50%; }

table.threepane     { width: 100%; margin-top: 2em; border-collapse: separate; border-spacing: 1em; table-layout: fixed; }
table.threepane td  { max-width: 30%; }
table.threepane img { width: 100%; }

h1, h2, h3 {
  font-family: 'Yanone Kaffeesatz';
  font-weight: 400;
  margin-bottom: 0;
}

.remark-slide-content h1 { font-size: 3em; margin-top: 0; }
.remark-slide-content h2 { font-size: 1.5em; }
.remark-slide-content h3 { font-size: 1.2em; }

.footnote {
  position: absolute;
  bottom: 12px;
  left: 20px;
}

li                                    { color: #999; }
li:last-of-type                       { color: black; font-weight: bold; }
li:not(:last-of-type) li:last-of-type { color: #999; font-weight: normal; }

.no-last-li-dark li { color: black; font-weight: normal;  }

strike { color: #fa0000; }

li p   { line-height: 1.25em; }
.red   { color: #fa0000; }
.gray  { color: #b7b8b2; }
.large { font-size: 2em; }

a, a > code {
  color: #C91F5C;
  text-decoration: none;
}

.inverse a { color: rgb(249, 38, 114); }

code {
  -moz-border-radius: 5px;
  -web-border-radius: 5px;
  background: #e7e8e2;
  border-radius: 5px;
}
small code.remark-code {
  font-size: 80%;
}
small img {
  width: 50%;
  margin-top: -1em;
  margin-left: 7.5em;
}
.remark-code, .remark-inline-code { font-family: 'Ubuntu Mono'; }
.remark-code-line-highlighted     { background-color: #373832; }
.remark-inline-code               { display: inline-block; padding: 0.1em 0.3em; }
.pull-left {
  float: left;
  width: 47%;
}
.pull-right {
  float: right;
  width: 47%;
}
.pull-right ~ p {
  clear: both;
}
#slideshow .slide .content code {
  font-size: 0.8em;
}
#slideshow .slide .content pre code {
  font-size: 0.9em;
  padding: 15px;
}
.inverse {
  background: #272822;
  color: #777872;
  text-shadow: 0 0 20px #333;
}
.inverse h1, .inverse h2 {
  color: #f3f3f3;
  line-height: 0.8em;
}

/* Slide-specific styling */
#slide-inverse .footnote {
  bottom: 12px;
  left: 20px;
}
#slide-how .slides {
  font-size: 0.9em;
  position: absolute;
  top:  151px;
  right: 140px;
}
#slide-how .slides h3 {
  margin-top: 0.2em;
}
#slide-how .slides .first, #slide-how .slides .second {
  padding: 1px 20px;
  height: 90px;
  width: 120px;
  -moz-box-shadow: 0 0 10px #777;
  -webkit-box-shadow: 0 0 10px #777;
  box-shadow: 0 0 10px #777;
}
#slide-how .slides .first {
  background: #fff;
  position: absolute;
  top: 20%;
  left: 20%;
  z-index: 1;
}
#slide-how .slides .second {
  position: relative;
  background: #fff;
  z-index: 0;
}

/* Two-column layout */
.left-column {
  color: #777;
  width: 20%;
  height: 92%;
  float: left;
  padding-top: 0.7em;
}

.left-column h2:last-of-type, .left-column h3:last-child {
  color: #000;
}

.left-column h3 {
  margin-top: 0;
  margin-left: 1em;
}

.right-column {
  width: 75%;
  float: right;
  padding-top: 1em;
}

div.fullslide {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-size: contain;
  background-repeat: no-repeat;
}